@model WebPhim.ViewModel.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        <label>Tên</label>
        @Html.TextBoxFor(m => m.customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.Name)
    </div>
    <div class="form-group">
        <label>Sinh nhật</label>
        @Html.TextBoxFor(m => m.customer.SinhNhat, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Đăng kí thành viên</label>
        @Html.DropDownListFor(m => m.customer.MembershipTypeId, new SelectList(Model.membershipTypes, "Id", "Name"),"Chọn loại thành viên", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.MembershipTypeId)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.customer.IsSubscribedToNewsLetter) Receive news from us!
        </label>
    </div>
    @Html.HiddenFor(m => m.customer.Id)
    <button type="submit" class="btn btn-default">Lưu</button>
}


